<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">         
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
    <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
   <enlace href="https: //fonts.googleapis.com/css2? family= Roboto & display=swap" rel="hoja de estilo">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
   
</head>
    <body>
       
    <header>
        <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
           <!--esta p muestra el codigo de barra de busqueda guardando las busquedas anteriores-->
      
            
      <div ><input placeholder="Buscar productos, marcas" class="input-home"><i i class="fas fa-search"> </i></div>
      
     <div class="mano"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de crédito</div>
        
      <ul class="ul">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
      </ul>
        <ul class="ul1" >     
           <li><a href="/register">Crea tu cuenta</a>  <i class="fas fa-id-card"></i>  </li>   
         <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
         <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i>  </li> 
       </ul>
       
       <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
       
        
       <!-- <img src="/images/img-home-banner.jpg" alt="Imagen banner">--> 
    </header>   
     
  <main>
    <img src="/images/img-home-banner.jpg" alt="Imagen banner" style="
    width: 100%;">
             <h2>Basado en tu última visita</h2>
    <section class="main">
    
      <div class="detalles-main"><img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera" style="width: 100%;">
        <div class="cuadrado">  <i class="fas fa-truck"></i>
           <p class="precio">$6.770</p>
          <p class="descuento">40% OFF</p>
          <p class="descripcion">Cafetera Moulinex</p></div></div>
          
  
          <div class="detalles-main"><img src="/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook" style="width: 100%;">
            <div class="cuadrado">  <i class="fas fa-truck"></i>
              <p class="precio">$230.000</p>
          <p class="descuento">20% OFF</p>
           <p class="descripcion">MacBook Pro 2019</p></div></div>
          
          
          <div class="detalles-main"><img  src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung" style="width: 100%;">
            <div class="cuadrado">   <i class="fas fa-truck"></i> 
               <p class="precio">$70.500</p>
          <p class="descuento">10% OFF</p>
          <p class="descripcion">Samsung Galaxy S10</p></div></div>
          
          <div class="detalles-main"><img src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmartTv" style="width: 100%;">
            <div class="cuadrado"> 
              <i class="fas fa-truck"></i><p class="precio">$23.200</p>
          <p class="descuento">5% OFF</p>
          <p class="descripcion">SmartTv Samsung 43"</p></div></div></section>
         
  
        
   
        <h2>Sección de Ofertas</h2>
        <section class="main-ofertas">
        <div class="detalles-main"><img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera" style="width: 100%;">
      <div class="cuadrado">  <i class="fas fa-truck"></i>
         <p class="precio">$6.770</p>
        <p class="descuento">40% OFF</p>
        <p class="descripcion">Cafetera Moulinex</p></div></div>
        

        <div class="detalles-main"><img src="/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook" style="width: 100%;">
          <div class="cuadrado">  <i class="fas fa-truck"></i>
            <p class="precio">$230.000</p>
        <p class="descuento">20% OFF</p>
         <p class="descripcion">MacBook Pro 2019</p></div></div>
        
        
        <div class="detalles-main"><img  src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung" style="width: 100%;">
          <div class="cuadrado">   <i class="fas fa-truck"></i> 
             <p class="precio">$70.500</p>
        <p class="descuento">10% OFF</p>
        <p class="descripcion">Samsung Galaxy S10</p></div></div>
        
        <div class="detalles-main"><img src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmartTv" style="width: 100%;">
          <div class="cuadrado"> 
            <i class="fas fa-truck"></i><p class="precio">$23.200</p>
        <p class="descuento">5% OFF</p>
        <p class="descripcion">SmartTv Samsung 43"</p></div></div></section>
       
    </main>



    <footer class="footer">  
        
       <section class="section-footer"> <div><i class="fas fa-credit-card"></i></div>
        <strong>Paga con tarjeta o en efectivo</strong>

        <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p></section>
       
        <section  class="section-footer">  <div> <i class="fas fa-gift"></i></div>
       
          <div><strong>Envio gratis desde $2500</strong>
        
            <p>Solo por estar registrad@ en Mercado Liebre tienes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p></div></section>
      
            <section  class="section-footer"> <div><i class="fas fa-user-shield"></i></div>
       
              <strong>Seguridad de principio a fin</strong>
       
              <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido</p></section>
    
        <strong class="strong-footer">Copyright 1999-2020 MercadoLiebre S.R.L</strong>

      </footer>
    
    
</body>
</html>