<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <enlace href="https: //fonts.googleapis.com/css2? family= Roboto & display=swap" rel="hoja de estilo"></enlace>
    
    <title>Mercado liebre-login'</title>
</head>

<body>

    <header>
        <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
           <!--esta p muestra el codigo de barra de busqueda guardando las busquedas anteriores-->
      
            
      <div class="input"><input placeholder="Buscar productos, marcas"><i class="fas fa-search"></i></div>
      
     <div class="mano"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de crédito</div>
        
      <ul class="ul">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
      </ul>
        <ul class="ul1" >     
           <li><a href="">Crea tu cuenta</a>  <i class="fas fa-id-card"></i>  </li>   
         <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
         <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i>  </li> 
       </ul></div>
       
       <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
       
        
       <!-- <img src="/images/img-home-banner.jpg" alt="Imagen banner">--> 
    </header>  
    
    <form class="form-login" action= "/register" method="Get">
     
    <div class="usuaria-login"><label for="Usuaria/o"></label></div>
          <input class="input-user-login" type="text" name="Usuaria/o" placeholder="Ingresa Usuaria/o, Telefono o E-mail"/>
        
    <div class="passwor-login"> <label for="Password"></label></div>
     <input class="input-pass-login" type="password" name="Password" placeholder="Ingresa Password" >

    <button  type="submit" class="login-boton">Enviar</button> 

  

    <button  type="submit" class="boton-crea-cuenta"  action="/" method=" Get" >Crea tu Cuenta</button>

</form>

<footer class="footer">  
        
  <section class="section-footer"> <div><i class="fas fa-credit-card"></i></div>
   <strong>Paga con tarjeta o en efectivo</strong>
   <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p></section>
   <section  class="section-footer">  <div> <i class="fas fa-gift"></i></div>
   <div><strong>Envio gratis desde $2500</strong>
   <p>Solo por estar registrad@ en Mercado Liebre tienes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p></div></section>
  <section  class="section-footer"> <div><i class="fas fa-user-shield"></i></div>
   <strong>Seguridad de principio a fin</strong>
   <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido</p></section>

   <strong class="strong-footer">Copyright 1999-2020 MercadoLiebre S.R.L</strong>

 </footer>
    
</body>
</html>