<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <enlace href="https: //fonts.googleapis.com/css2? family= Roboto & display=swap" rel="hoja de estilo"></enlace>
    
    <title>Mercado liebre-Registro'</title>
</head>

<body>

    <header>
        <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
           <!--esta p muestra el codigo de barra de busqueda guardando las busquedas anteriores-->
      
            
      <div class="input"><input placeholder="Buscar productos, marcas"><i class="fas fa-search"></i></div>
      
     <div class="mano"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de crédito</div>
        
      <ul class="ul">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
      </ul>
        <ul class="ul1" >     
           <li><a href="/register">Crea tu cuenta</a>  <i class="fas fa-id-card"></i>  </li>   
         <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
         <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i>  </li> 
       </ul></div>
       
       <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
       
        
       <!-- <img src="/images/img-home-banner.jpg" alt="Imagen banner">--> 
    </header>   

    <form action="/" method="get" class="crear-usuario">
        
<div class="info-p"> <label for="nombre"></label>
            <input class="nomb-apell" type="text" name="nombre"  placeholder="Nombre y Apellido"></div>
    
       <div class="info-p"><label for="Usuaria/o"></label>
            <input class="usuario" type="text" name="Usuaria/o" placeholder="Usuaria/o"/>
            
            <p class="fecha-n">Fecha de nacimiento</p>

       <div class="info-p"><label for="Fecha"></label>
            <input class="nacimiento" type="date" name="Fecha"></div>
    
       <div > <label for="Domicilio"></label>
            <input class="domicilio" type="text" name="Domicilio" placeholder="Domicilio"/></div>

            <h2 class="Perfil-login-usuario">Perfil del usuario</h2>
    
       <section class="perfil-C-V-A"> <div ><label for="Perfil"> Coprador </label>
            <input class="perfil-comp" type="radio" name="Perfil" text="comprador" id="Coprador "></div>

       <div><label for="Perfil"> Vendedor </label>
           <input class="perfil-vend" type="radio" name="Perfil" text="Vendedor" id="Vendedor"></div>
           
       <div ><label for="Perfil"> Ambos </label>
            <input class="perfil-Ambos" type="radio" name="Perfil"  id="Ambos"></div></section> 
           
            <h2 class="Categorias-login">Categorias</h2>

        <section class="register-categoria"><div class="electro" ><label for="Electro"> Electro</label>
            <input type="checkbox"  text="Electro" id="Electro"></div> 
 
       <div class="moda"><label for="Moda"> Moda</label>
            <input type="checkbox"  text="Moda" id="Moda"></div> 
  
       <div class="hogar"> <label for="Hogar"> Hogar</label>
            <input type="checkbox" name="hogar" text="Hogar" id="Hogar"></div>

       <div class="jugueteria"> <label for="Jugueteria"> Jugueteria</label>
           <input type="checkbox" name="categorias" text="Jugueteria" id="Jugueteria"></div>

       <div class="vida-sana"><label for="Vida sana"> Vida sana</label>
           <input type="checkbox" name="categorias" text="Vida sana" id="Vida sana"></div></section>
            
           <p class="foto">Foto de perfil</p>

       <label for="foto"></label> <!--codigo de foto de perfil-->
            <input   class="foto-register"     type="file" id="">

          
         <div class="pass-1"> <input  class="pass-register" type="password" name="Password" placeholder="Password">
          
          
           <input class="pass-register" type="password" name="Password" placeholder="Confirmar Contraseña"></div> 

          <div class="submit-register"> <button  type="submit">Enviar</button></div>

           <button  type="reset" class="boton-reset-register">Borrar</button>

    </form>
    <footer class="footer">  
        
      <section class="section-footer"> <div><i class="fas fa-credit-card"></i></div>
       <strong>Paga con tarjeta o en efectivo</strong>
       <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p></section>
       <section  class="section-footer">  <div> <i class="fas fa-gift"></i></div>
       <div><strong>Envio gratis desde $2500</strong>
       <p>Solo por estar registrad@ en Mercado Liebre tienes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p></div></section>
      <section  class="section-footer"> <div><i class="fas fa-user-shield"></i></div>
       <strong>Seguridad de principio a fin</strong>
       <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido</p></section>
   
       <strong class="strong-footer">Copyright 1999-2020 MercadoLiebre S.R.L</strong>

     </footer>

     
 </footer>
</body>
</html>